
 
 
  .btn{
 padding: 10px 8px;
 width: 50px;
 color: yellow;
 background: black;
 border: 1px solid #FFFFFF;
 border-radius: 5px;
 text-align: center;
 user-select: none;
 cursor: pointer;
 }
 
 html {
   font-family: sans-serif;
   line-height: 1.15;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -ms-overflow-style: scrollbar;
   -webkit-tap-highlight-color: transparent; }
 
 @-ms-viewport {
   width: device-width; }
 
 article, aside, dialog, figcaption, figure, footer, header, hgroup, main, nav, section {
   display: block; }
 
 body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.5;
   color: #212529;
   text-align: left;
   background-color: #fff; }
 
 [tabindex="-1"]:focus {
   outline: 0 !important; }
 
 hr {
   -webkit-box-sizing: content-box;
		   box-sizing: content-box;
   height: 0;
   overflow: visible; }
 
 h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
   font-family: Candara;

 }
 
 p {
   margin-top: 0;
   margin-bottom: 0.2rem; 
}
 

 address {
   margin-bottom: 1rem;
   font-style: normal;
   line-height: inherit; }
 
 ol,
 ul,
 dl {
   margin-top: 0;
   margin-bottom: 1rem; }
 
 ol ol,
 ul ul,
 ol ul,
 ul ol {
   margin-bottom: 0; }
 
 dt {
   font-weight: 700; }
 
 dd {
   margin-bottom: .5rem;
   margin-left: 0; }
 
 blockquote {
   margin: 0 0 1rem; }
 
 dfn {
   font-style: italic; }
 
 b,
 strong {
   font-weight: bolder; }
 
 small {
   font-size: 80%; }
 
 sub,
 sup {
   position: relative;
   font-size: 75%;
   line-height: 0;
   vertical-align: baseline; }
 
 sub {
   bottom: -.25em; }
 
 sup {
   top: -.5em; }
 
 a {
   color: red;
   text-decoration: none;
   background-color: transparent;
   -webkit-text-decoration-skip: objects; }
   a:hover {
	 color: red;
	 text-decoration: underline; }
 
 a:not([href]):not([tabindex]) {
   color: inherit;
   text-decoration: none; }
   a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	 color: inherit;
	 text-decoration: none; }
   a:not([href]):not([tabindex]):focus {
	 outline: 0; }
	 th, td {
    padding: 20px;
    text-align: left;
}

 
 pre,
 code,
 kbd,
 samp {
   font-family: monospace, monospace;
   font-size: 1em; }
 
 pre {
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
   -ms-overflow-style: scrollbar; }
 
 figure {
   margin: 0 0 1rem; }
 
 img {
   vertical-align: middle;
   border-style: none; }
 
 svg:not(:root) {
   overflow: hidden; }
 
 a,
 area,
 button,
 [role="button"],
 input:not([type="range"]),
 label,
 select,
 summary,
 textarea {
   -ms-touch-action: manipulation;
	   touch-action: manipulation; }
 
 table {
   border-collapse: collapse; }
 
 caption {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   color: #868e96;
   text-align: left;
   caption-side: bottom; }


.footer{
    background-color:#8B0000;
    color: white;
    width: 100%;
    height: 80px;    
    line-height: 100px;
}
.footer2{
    background-color:black;
    color: white;
    width: 100%;
    height: 40px;    
    line-height: 100px;
}
.footer-rodape{
    background-color: #8B0000;
    font-family:Candara;
    font-size: 30px;
    color:white;
    width: 100%;
    height: 100px;    
    line-height: 100px;
}
	
	@media (min-width: 768px)
	.navbar-expand-md .navbar-nav .nav-link {
		padding-right: 0.5rem;
		padding-left: 0.5rem;
	}
	.navbar-nav .nav-link {
		padding-right: 0;
		padding-left: 0;
	}
	.nav-link {
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.nav-link {
		display: block;
		padding: 0.5rem 1rem;
	}
	a {
		color: inherit;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}
	.intro .intro-body .brand-heading {
		font-size: 60px;
		margin-top: 90px;
		margin-bottom: 25px;
		border-top: 5px solid white;
		border-bottom: 5px solid white;
		display: inline-block;
		padding: 10px 0;
	}
	a {
		color: red;
		text-decoration: none;
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
	}
	*, *::before, *::after {
		-webkit-box-sizing: inherit;
		box-sizing: inherit;
	}
	*, *::before, *::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	*, *::before, *::after {
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}
	user agent stylesheet
	a:-webkit-any-link {
		color: -webkit-link;
		cursor: pointer;
		text-decoration: underline;
	}
	.navbar-expand-md .navbar-nav {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
	}
	
	.intro .intro-body .brand-heading {
		font-size: 70px;
	}
	.btn-circle {
		width: 50px;
		height: 50px;
		margin-top: 15px;
		line-height: 40px;
		text-align: center;
		border: 2px solid #fff;
		border-radius: 100%!important;
		font-size: 20px;
		color: #fff;
		background: 0 0;
		-webkit-transition: background .3s ease-in-out;
		-moz-transition: background .3s ease-in-out;
		transition: background .3s ease-in-out;
	}
	.btn {
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		border: 1px solid transparent;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0.25rem;
		-webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
		transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
	}
	
	a {
		color: inherit;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		transition: all .2s ease-in-out;
	}
	a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea {
		-ms-touch-action: manipulation;
		touch-action: manipulation;
	}
	a {
		color: yellow;
		text-decoration: none;
		background-color: transparent;
		-webkit-text-decoration-skip: objects;
	}
	.menu{
		padding:0 10px;
		margin:35px;
        margin-top: -55px;
        margin-right: 2px;
        height: 24px;
		float: right;
		width: 10%;
		background-color:trasparent;
		list-style:none;
		font:100% Candara;
        color: white;
        text-decoration: none !important;

	}
	.menu2{
	    padding:0 40px;
		margin:30px;
        margin-top: 10px;
        margin-left: 40px;
        height: 1px;
        display: inline-flex;
		float: right;
		width: 5%;
		background-color:trasparent;
		list-style:none;
		font:100% Candara;
        color: white;
        text-decoration: none !important;
}


	.prime{
		padding:0 10px;
		margin:35px;
        margin-top: -55px;
        margin-right: 40px;
        height: 27px;
		float: right;
		width: 10%;
		background-color:transparent;
		border-radius: 10px;
		font:100% Candara;
		font-size: 16px;
        color: white;
        text-decoration: none !important;
	}
    .open{
        font-family: Candara;
    	font-size: 16px;
    }
   
    .imagem-logo{
        width:100px;
        height:100px;
        margin-left: 10px;
        margin-top: 10px;
    }

.box{
	width: 200px;
	height: 120px;
	margin-left: 15%;
	display: inline-flex;
	padding: 50px 10px 20px 0px;
	margin-top: 10px;
	padding-top: 50px;
}





